.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/Image\ .jpeg');
    background-size: cover;
    background-position: center;
    background-size:10%;
  }
  
  .about-card {
    max-width: 800px;
    padding: 40px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .about-card h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-decoration: none;
  }
  